/********************************************************************
                                COMMON
*********************************************************************/

body{
    font-family: Arial, sans-serif;
}

.bg_white{
    background-color: white;
}

.bg_gray{
    background-color: #BEBCBB;
}

.btn_gray{
    background-color: #D9DADC;
}

.bg_dark_blue{
    background-color: #161C3B;
}

.bg_blue{
    background-color: #00439C;
}
/**************************************************************
                                NAVBAR
***************************************************************/
header{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.sony_logo{
    background-color: black;
    display: flex;
    justify-content: end;
    
}

.sony_logo img{
    width: 80px;
    padding: 10px 0px;
}

.menu li{
    font-weight: 600;
    padding-left: 5px;
    font-size: 0.9rem;
}

.menu li a::after{
    content: url(./img/chevron-down-solid.svg);
    display: inline-block;
    width: 14px;
    padding-left: 5px;
    
}

.menu .btn img{
    width: 30px;
}

.dropdown-menu{
    width: 100%;
    background-clip: unset;
    border: none;
    border-radius: 0;
}

.dropdown-menu[data-bs-popper]{
top: 95%;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.dropdown-menu li a::after {
    content: none;
}

.sublink{
    padding: 0px;
}

.sublink li{
    list-style: none;
}

.sublink li::before {
  content: "\2022";
  color: #00439C;
  padding-left: 30px;
}

.dropdown-item{
    padding: 5px;
}

.dropdown-item img{
    width: 100px;
}
/*************************************************************
                           JUMBOTRON
*************************************************************/
.jumbo_container.top{
    background-image: url(./img/jumbo-bg.png);
}

.jumbo_container{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}


.btn.orange{
    background-color: #CD3D0F;
}



.top_section{
        padding-top: 110.08px;
}

.jumbo_hero p{
    font-size: 1rem;
}

.featured img,
.new_release img{
    border-radius: 15px;
}

/************************************************************
                                MAIN 
************************************************************/
.plus .navbar-collapse,
.now .navbar-collapse{
    flex-basis: 0;
}

.motto{
    font-size: .8rem;
}

.selected{
    border-bottom: 3px solid #0d6dfdb9;
}

.blur img{
    filter: opacity(.7);
}

.jumbo_container.mid{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    height: 80vh;
}



.plus p,
.now p{
    font-size: 1.rem;
}

.blur h6{
    color: rgba(0, 0, 0, 0.493);
}

.play4 p{
font-size: 1.2rem;
}

.play5 h6{
font-size: .8rem;
padding-top: 20px;
}

.ps5_pic{
    margin-top: -20px;
}

.pic_container{
    overflow: hidden;
}

.new_release h5{
    font-size: 1rem;
}

/**************************************************************
                            FOOTER
****************************************************************/

.ps_logo{
    filter: grayscale(100) brightness(100);
}

.reg_mark{
    font-size: .7rem;
    bottom: 20px;
    right: 10px;
}

footer .globe{
    width: 25px;
    padding-right: 5px;
}

footer .language{
    font-size: .9rem;
    color:white
}

footer .nav .nav-link{
    font-size: 1.1rem;
}

footer .legal{
    font-size: 1.1rem;    
}
