/********************************************************************
                                COMMON
*********************************************************************/

body{
    font-family: Arial, sans-serif;
}



/**************************************************************
                                NAVBAR
***************************************************************/
header{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.sony_logo{
    background-color: black;
    display: flex;
    justify-content: end;
    
}

.sony_logo img{
    width: 80px;
    padding: 10px 0px;
}

.menu li{
    font-weight: 600;
    padding-left: 5px;
}

.menu li a::after{
    content: url(./img/chevron-down-solid.svg);
    display: inline-block;
    width: 14px;
    padding-left: 5px;
    
}

.menu .btn img{
    width: 30px;
}

/*************************************************************
                           JUMBOTRON
*************************************************************/
.jumbo_container.top{
    background-image: url(./img/jumbo-bg.png);
}

.jumbo_container{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.btn.orange{
    background-color: #CD3D0F;
}

.jumbo_hero img{
    width: 300px;
}

.top_section{
        padding-top: 110.08px;
}

.jumbo_hero p,
.new_release h6{
    font-size: 1.1rem;
}

.featured img,
.new_release img{
    border-radius: 15px;
}

/************************************************************
                                MAIN 
************************************************************/

.motto{
    font-size: .8rem;
}

.selected{
    border-bottom: 2px solid #0d6dfdb9;
}

.blur img{
    filter: opacity(.7);
}

.jumbo_container.mid{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
}
